# Node modules
node_modules/

# Build output
dist/

# Logs
*.log

# Environment variables
.env

# IDE and editor files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Encryption Keys
*.key